/* cSpell:ignore movile */
/* cSpell:ignore backshapes */

.layout__contact {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  padding-top: 14rem;
  padding-bottom: 10rem;
}

.layout__contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 63rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.contact__container {
  max-width: var(--max-width);
  margin: 0 auto;
  overflow: hidden;
}

.contact__header {
  text-align: center;
  margin-bottom: 6rem;
}

.contact__subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-bg-btn);
  margin-bottom: 1.5rem;
}

.contact__title {
  font-size: 6.4rem;
  width: 70%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3rem;
  color: var(--color-secondary);
}

.contact__btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 2.3rem 5.5rem;
  background-color: var(--color-secondary);
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.contact__btn:hover {
  background-color: var(--color-bg-btn);
}

.contact__images {
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--color-borders);
}

.contact__thumb {
  display: inline-block;
}

.contact__thumb--chat {
  position: relative;
  margin-right: -18rem;
  bottom: 0;
  margin-bottom: -0.8rem;
}

.contact__thumb--laptop {
  position: absolute;
  bottom: 0;
  left: 16rem;
}

.contact__thumb--movile {
  position: absolute;
  bottom: 0;
  right: 8rem;
}

.backshapes__item {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}
.backshapes--shape1 {
  top: 0;
  right: 30%;
}
.backshapes--shape2 {
  top: 18%;
  left: 18%;
  opacity: 0.5;
}

.backshapes--shape3 {
  top: 10%;
  right: 10%;
}

.backshapes--shape4 {
  bottom: 50%;
  left: 10%;
  animation: elipsis 10s infinite;
}
@keyframes elipsis {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translate(100px, 25px);
  }
  50% {
    transform: translate(500px, -25px);
  }
  75% {
    transform: translate(-50px, 250px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.backshapes--shape5 {
  top: 30%;
  right: 17%;
  animation: star__motion 5s infinite;
}
@keyframes star__motion {
  0% {
    transform: translateX(0px) translateY(0);
  }

  20% {
    transform: translateX(100px) translateY(150px);
  }
  40% {
    transform: translateX(200px) translateY(0px);
  }

  60% {
    transform: translateX(-300px) translateY(150px);
  }

  80% {
    transform: translateX(-400px) translateY(0px);
  }

  100% {
    transform: translateX(0px) translateY(0);
  }
}

.backshapes--shape6 {
  top: 25%;
  left: 30%;
}

.backshapes--shape7 {
  top: 10%;
  right: 50%;
  animation: line__move 5s infinite;
}

@keyframes line__move {
  0%,
  100% {
    transform: translateX(0px) translateY(0);
  }
  33% {
    transform: translateX(500px) translateY(0);
  }
  66% {
    transform: translateX(-500px) translateY(0);
  }
}
